@using InstHub.Data.Identity
@using Microsoft.AspNetCore.Identity
@model InstHub.Controllers.FilesController.UserFilesViewModel
@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager
@{
    ViewData["Title"] = "Файлы";
}



<div class="">
    <h3>Файлы пользователя @User.Identity?.Name!</h3>

    <div class="files_div">
        <div class="el_line">
            @foreach (var file in Model.Files)
            {
                <div class="el_line">
                    <a href="@Url.Content($"~/usersfiles/{User.Identity.Name}/{file}")" class="bg_file">
                        <div class="bg_file_add">
                            <img src="/images/files/file_icon.png" width="150px" height="150px" />
                        </div>
                        <p>@file</p>
                    </a>
                </div>
            }
            <form id="uploadFileForm" enctype="multipart/form-data" method="post" asp-controller="Files" asp-action="CheckAndCreateUserFolder">
                @Html.AntiForgeryToken()
                <input type="file" name="file" id="fileInput" style="display:none;" />
                <a href="#" class="a_bt_add" onclick="document.getElementById('fileInput').click(); return false;">
                    <div class="bg_file_add">
                        <img src="/images/files/add_file.png" width="150px" height="150px" />
                    </div>
                    <p>Добавить файл</p>
                </a>
            </form>
        </div>
    </div>
</div>

@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["StatusMessage"]
    </div>
}

@section Scripts {
    <script>
        document.getElementById('fileInput').addEventListener('change', function () {
            if (this.files && this.files.length > 0) {
                document.getElementById('uploadFileForm').submit();
            }
        });
    </script>
}

